.u-section-1 .u-sheet-1 {
  min-height: 1322px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 8px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 8px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 0 auto;
}

.u-section-1 .u-blog-1 {
  width: 1156px;
  margin: 8px auto 60px -16px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px);
  grid-gap: 22px 22px;
  min-height: 754px;
}

.u-section-1 .u-repeater-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 16px 20px 0;
}

.u-section-1 .u-text-4 {
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  height: 222px;
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 16px 20px 0;
}

.u-section-1 .u-text-6 {
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  height: 222px;
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-1 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 16px 20px 0;
}

.u-section-1 .u-text-8 {
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-image-3 {
  height: 222px;
  margin-top: 17px;
  margin-bottom: 0;
  background-image: url("images/0fd3416c.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 16px 20px 0;
}

.u-section-1 .u-text-10 {
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-image-4 {
  height: 222px;
  margin-top: 17px;
  margin-bottom: 0;
  background-image: url("images/0fd3416c.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 16px 20px 0;
}

.u-section-1 .u-text-12 {
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-image-5 {
  height: 222px;
  margin-top: 17px;
  margin-bottom: 0;
  background-image: url("images/0fd3416c.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-text-13 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 41px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 1px;
  }

  .u-section-1 .u-blog-1 {
    margin-top: 53px;
    height: auto;
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 612px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1345px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 0;
  }

  .u-section-1 .u-blog-1 {
    margin-top: 54px;
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
    min-height: 1078px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-blog-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 278px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 278px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 278px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    height: 278px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    height: 278px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-blog-1 {
    width: 340px;
  }
}