.u-section-1 .u-sheet-1 {
  min-height: 913px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  width: 309px;
  margin: 10px auto 0;
}

.u-section-1 .u-post-details-1 {
  min-height: 397px;
  background-image: none;
  width: 552px;
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 15px 30px;
}

.u-section-1 .u-image-1 {
  height: 272px;
  margin-top: 8px;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px 0 0;
}

.u-section-1 .u-metadata-1 {
  margin: 8px auto 0;
}

.u-section-1 .u-post-details-2 {
  min-height: 397px;
  background-image: none;
  width: 552px;
  margin: 33px auto 20px;
}

.u-section-1 .u-container-layout-2 {
  padding: 15px 30px;
}

.u-section-1 .u-image-2 {
  height: 272px;
  margin-top: 8px;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px 0 0;
}

.u-section-1 .u-metadata-2 {
  margin: 8px auto 0;
}

@media (max-width: 991px) {
  .u-section-1 .u-image-2 {
    height: 408px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-post-details-1 {
    width: 540px;
    margin-top: -322px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-post-details-2 {
    width: 540px;
    margin-top: 883px;
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 379px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-post-details-1 {
    width: 340px;
    margin-top: -226px;
  }

  .u-section-1 .u-post-details-2 {
    width: 340px;
    margin-top: 1161px;
  }

  .u-section-1 .u-image-2 {
    height: 245px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 870px;
}

.u-section-2 .u-post-details-1 {
  min-height: 397px;
  background-image: none;
  width: 552px;
  margin: 24px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 15px 30px;
}

.u-section-2 .u-image-1 {
  height: 272px;
  margin-top: 8px;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px 0 0;
}

.u-section-2 .u-metadata-1 {
  margin: 8px auto 0;
}

.u-section-2 .u-post-details-2 {
  min-height: 397px;
  background-image: none;
  width: 552px;
  margin: 29px auto 24px;
}

.u-section-2 .u-container-layout-2 {
  padding: 15px 30px;
}

.u-section-2 .u-image-2 {
  height: 272px;
  margin-top: 8px;
  margin-bottom: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px 0 0;
}

.u-section-2 .u-metadata-2 {
  margin: 8px auto 0;
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    height: 408px;
  }

  .u-section-2 .u-image-2 {
    height: 408px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-post-details-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 379px;
  }

  .u-section-2 .u-post-details-2 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 379px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-2 .u-post-details-1 {
    min-height: 355px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    height: 245px;
  }

  .u-section-2 .u-post-details-2 {
    min-height: 363px;
    margin-top: 35px;
    margin-bottom: 23px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    height: 245px;
  }
}