.u-block-492a-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-492a-3 {
  position: absolute;
  left: 0;
}

.u-block-492a-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/db61fc15babdd1c05c4772e44b08100051b1f2a5a0b74d2b156026c741ed36a4b560c4dcec86b618e19fc0d36449321a81ddbb3632841e0d0040a7_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 317px;
}

.u-section-1-1 .u-text-1 {
  margin: 13px auto 0;
}

.u-section-1-1 .u-text-2 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 42px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 261px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 200px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 150px;
  }

  .u-section-1-1 .u-text-2 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 94px;
  }

  .u-section-1-1 .u-text-2 {
    font-size: 3rem;
  }
}

 .u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/a4fdad9a371ded52df800339fc1dde4d5894a7ce86f705aa272067bb85a5cb2677766677ae2ecf6e2208c9c1987afe208af74f2bb48b6d61fc6a34_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 317px;
}

.u-section-1-2 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 79px 0 0;
}

.u-section-1-2 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 4px;
  margin: 0 auto 58px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-1-2 .u-text-2 {
    width: 239px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 200px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 150px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 94px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 3rem;
  }
}

 .u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/68868e3599f7149445f98ea44af55f50dc2d3039bb99f9f7a64482758b15a968a11d9e65e13950a4911e45c9df9092d4ee4081d44f71c9df9d2fe9_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 317px;
}

.u-section-1-3 .u-text-1 {
  font-size: 4.5rem;
  background-image: none;
  margin: 79px 0 0;
}

.u-section-1-3 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 4px;
  margin: 0 auto 58px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-1-3 .u-text-2 {
    width: 239px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 200px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 150px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 94px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 926px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  width: 309px;
  margin: 15px auto 0;
}

.u-section-2 .u-text-2 {
  margin: -26px 64px 0 auto;
}

.u-section-2 .u-text-3 {
  margin: -22px auto 0 54px;
}

.u-section-2 .u-post-details-1 {
  min-height: 147px;
  background-image: none;
  margin: 8px -58px 0 888px;
}

.u-section-2 .u-container-layout-1 {
  padding: 14px 0 0;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 2px 0 -2px;
}

.u-section-2 .u-video-1 {
  width: 255px;
  height: 58px;
  margin: 10px 28px 0;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

.u-section-2 .u-post-details-2 {
  min-height: 397px;
  background-image: none;
  width: 552px;
  margin: -147px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 15px 30px;
}

.u-section-2 .u-image-1 {
  height: 272px;
  margin-top: 8px;
  margin-bottom: 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px 0 0;
}

.u-section-2 .u-metadata-1 {
  margin: 8px auto 0;
}

.u-section-2 .u-post-details-3 {
  min-height: 844px;
  background-image: none;
  margin: -397px 896px 0 -64px;
}

.u-section-2 .u-container-layout-3 {
  padding: 14px 0;
}

.u-section-2 .u-text-6 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-group-1 {
  min-height: 247px;
  margin-top: 12px;
  margin-bottom: 0;
  height: auto;
  background-image: none;
}

.u-section-2 .u-image-2 {
  height: 200px;
  width: 264px;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  margin: 8px 0 0;
}

.u-section-2 .u-group-2 {
  min-height: 247px;
  height: auto;
  background-image: none;
  margin-top: 8px;
  margin-bottom: 0;
}

.u-section-2 .u-image-3 {
  height: 200px;
  width: 264px;
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  margin: 8px 0 0;
}

.u-section-2 .u-group-3 {
  min-height: 247px;
  height: auto;
  background-image: none;
  margin-top: 8px;
  margin-bottom: 0;
}

.u-section-2 .u-image-4 {
  height: 200px;
  width: 264px;
  margin: 0 auto;
}

.u-section-2 .u-text-9 {
  margin: 8px 0 0;
}

.u-section-2 .u-post-details-4 {
  min-height: 186px;
  background-image: none;
  margin: -674px -58px 0 888px;
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  margin: 14px 0 0;
}

.u-section-2 .u-form-1 {
  height: 136px;
  width: 296px;
  margin: 0 auto;
}

.u-section-2 .u-post-details-5 {
  min-height: 397px;
  background-image: none;
  width: 552px;
  margin: 83px auto 36px;
}

.u-section-2 .u-container-layout-8 {
  padding: 15px 30px;
}

.u-section-2 .u-image-5 {
  height: 272px;
  margin-top: 8px;
  margin-bottom: 0;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px 0 0;
}

.u-section-2 .u-metadata-2 {
  margin: 8px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-post-details-1 {
    margin-left: 788px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-video-1 {
    width: 192px;
    height: 48px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-post-details-3 {
    margin-right: 796px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-image-2 {
    height: 158px;
    width: 208px;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-image-3 {
    height: 158px;
    width: 208px;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }

  .u-section-2 .u-image-4 {
    height: 158px;
    width: 208px;
  }

  .u-section-2 .u-post-details-4 {
    margin-left: 788px;
  }

  .u-section-2 .u-form-1 {
    width: 210px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-post-details-1 {
    margin-left: 678px;
  }

  .u-section-2 .u-video-1 {
    width: 100px;
    height: 25px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-post-details-3 {
    margin-right: 686px;
  }

  .u-section-2 .u-image-2 {
    height: 74px;
    width: 98px;
  }

  .u-section-2 .u-image-3 {
    height: 74px;
    width: 98px;
  }

  .u-section-2 .u-image-4 {
    height: 74px;
    width: 98px;
  }

  .u-section-2 .u-post-details-4 {
    margin-left: 678px;
  }

  .u-section-2 .u-form-1 {
    width: 100px;
  }

  .u-section-2 .u-image-5 {
    height: 408px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-top: 1636px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -1683px;
  }

  .u-section-2 .u-post-details-1 {
    margin-top: 66px;
    margin-left: 588px;
  }

  .u-section-2 .u-video-1 {
    width: 10px;
    height: 3px;
  }

  .u-section-2 .u-post-details-2 {
    width: 540px;
    margin-top: -531px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-post-details-3 {
    margin-top: -13px;
    margin-right: 596px;
  }

  .u-section-2 .u-image-2 {
    height: 6px;
    width: 8px;
  }

  .u-section-2 .u-image-3 {
    height: 6px;
    width: 8px;
  }

  .u-section-2 .u-image-4 {
    height: 6px;
    width: 8px;
  }

  .u-section-2 .u-post-details-4 {
    margin-left: 588px;
  }

  .u-section-2 .u-form-1 {
    width: 10px;
  }

  .u-section-2 .u-post-details-5 {
    width: 540px;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-5 {
    height: 379px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    margin-top: 1665px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -1712px;
  }

  .u-section-2 .u-post-details-1 {
    margin-top: 58px;
    margin-left: 488px;
  }

  .u-section-2 .u-video-1 {
    width: -90px;
    height: -27px;
  }

  .u-section-2 .u-post-details-2 {
    width: 340px;
    margin-top: -427px;
  }

  .u-section-2 .u-post-details-3 {
    margin-top: -117px;
    margin-right: 496px;
  }

  .u-section-2 .u-image-2 {
    height: -69px;
    width: -92px;
  }

  .u-section-2 .u-image-3 {
    height: -69px;
    width: -92px;
  }

  .u-section-2 .u-image-4 {
    height: -69px;
    width: -92px;
  }

  .u-section-2 .u-post-details-4 {
    margin-left: 488px;
  }

  .u-section-2 .u-form-1 {
    width: -90px;
  }

  .u-section-2 .u-post-details-5 {
    width: 340px;
  }

  .u-section-2 .u-image-5 {
    height: 245px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 898px;
}

.u-section-3 .u-post-details-1 {
  min-height: 397px;
  background-image: none;
  width: 552px;
  margin: 23px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 15px 30px;
}

.u-section-3 .u-image-1 {
  height: 272px;
  margin-top: 8px;
  margin-bottom: 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px 0 0;
}

.u-section-3 .u-metadata-1 {
  margin: 8px auto 0;
}

.u-section-3 .u-post-details-2 {
  min-height: 397px;
  background-image: none;
  width: 552px;
  margin: 51px auto 30px;
}

.u-section-3 .u-container-layout-2 {
  padding: 15px 30px;
}

.u-section-3 .u-image-2 {
  height: 272px;
  margin-top: 8px;
  margin-bottom: 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px 0 0;
}

.u-section-3 .u-metadata-2 {
  margin: 8px auto 0;
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    height: 408px;
  }

  .u-section-3 .u-image-2 {
    height: 408px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-post-details-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 379px;
  }

  .u-section-3 .u-post-details-2 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 379px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-3 .u-post-details-1 {
    min-height: 355px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-1 {
    height: 245px;
  }

  .u-section-3 .u-post-details-2 {
    min-height: 363px;
    margin-top: 35px;
    margin-bottom: 23px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-2 {
    height: 245px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 864px;
}

.u-section-4 .u-post-details-1 {
  min-height: 335px;
  background-image: none;
  margin: 30px 580px 0 215px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px 8px;
}

.u-section-4 .u-image-1 {
  height: 231px;
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 8px 0 0;
}

.u-section-4 .u-metadata-1 {
  margin: -1px auto -6px;
}

.u-section-4 .u-post-details-2 {
  min-height: 335px;
  background-image: none;
  margin: -335px 211px 0 583px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 30px 8px;
}

.u-section-4 .u-image-2 {
  height: 231px;
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 8px 0 0;
}

.u-section-4 .u-metadata-2 {
  margin: -1px auto -6px;
}

.u-section-4 .u-post-details-3 {
  min-height: 423px;
  background-image: none;
  width: 649px;
  margin: 46px auto 30px;
}

.u-section-4 .u-container-layout-3 {
  padding: 15px 30px;
}

.u-section-4 .u-image-3 {
  height: 272px;
  margin: 10px 0 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 8px 0 0;
}

.u-section-4 .u-metadata-3 {
  margin: 8px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1219px;
  }

  .u-section-4 .u-post-details-1 {
    width: 423px;
    margin-top: 23px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-post-details-2 {
    width: 423px;
    margin-top: 33px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-post-details-3 {
    width: 423px;
    margin-top: 44px;
    margin-bottom: 26px;
  }

  .u-section-4 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1670px;
  }

  .u-section-4 .u-post-details-1 {
    min-height: 506px;
  }

  .u-section-4 .u-image-1 {
    height: 408px;
  }

  .u-section-4 .u-post-details-2 {
    min-height: 506px;
    margin-top: 31px;
  }

  .u-section-4 .u-image-2 {
    height: 408px;
  }

  .u-section-4 .u-post-details-3 {
    min-height: 530px;
    margin-top: 40px;
    margin-bottom: 33px;
  }

  .u-section-4 .u-image-3 {
    height: 408px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 379px;
  }

  .u-section-4 .u-post-details-2 {
    margin-top: 29px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 379px;
  }

  .u-section-4 .u-post-details-3 {
    margin-top: 36px;
    margin-bottom: 39px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    height: 379px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1148px;
  }

  .u-section-4 .u-post-details-1 {
    min-height: 353px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-1 {
    height: 245px;
  }

  .u-section-4 .u-post-details-2 {
    min-height: 353px;
    margin-top: 22px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-2 {
    height: 245px;
  }

  .u-section-4 .u-post-details-3 {
    min-height: 364px;
    margin-top: 22px;
    margin-bottom: 10px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-3 {
    height: 245px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 864px;
}

.u-section-5 .u-post-details-1 {
  min-height: 335px;
  background-image: none;
  margin: 30px 580px 0 215px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 30px 8px;
}

.u-section-5 .u-image-1 {
  height: 231px;
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 8px 0 0;
}

.u-section-5 .u-metadata-1 {
  margin: -1px auto -6px;
}

.u-section-5 .u-post-details-2 {
  min-height: 335px;
  background-image: none;
  margin: -335px 211px 0 583px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 30px 8px;
}

.u-section-5 .u-image-2 {
  height: 231px;
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 8px 0 0;
}

.u-section-5 .u-metadata-2 {
  margin: -1px auto -6px;
}

.u-section-5 .u-post-details-3 {
  min-height: 423px;
  background-image: none;
  width: 649px;
  margin: 46px auto 30px;
}

.u-section-5 .u-container-layout-3 {
  padding: 15px 30px;
}

.u-section-5 .u-image-3 {
  height: 272px;
  margin: 10px 0 0;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 8px 0 0;
}

.u-section-5 .u-metadata-3 {
  margin: 8px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1218px;
  }

  .u-section-5 .u-post-details-1 {
    width: 423px;
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-post-details-2 {
    width: 423px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-post-details-3 {
    width: 423px;
    margin-top: 30px;
    margin-bottom: 45px;
  }

  .u-section-5 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1669px;
  }

  .u-section-5 .u-post-details-1 {
    min-height: 506px;
    margin-top: 20px;
  }

  .u-section-5 .u-image-1 {
    height: 408px;
  }

  .u-section-5 .u-post-details-2 {
    min-height: 506px;
    margin-top: 31px;
  }

  .u-section-5 .u-image-2 {
    height: 408px;
  }

  .u-section-5 .u-post-details-3 {
    min-height: 530px;
    margin-top: 31px;
    margin-bottom: 44px;
  }

  .u-section-5 .u-image-3 {
    height: 408px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1670px;
  }

  .u-section-5 .u-post-details-1 {
    margin-top: 0;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 379px;
  }

  .u-section-5 .u-post-details-2 {
    margin-top: 46px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    height: 379px;
  }

  .u-section-5 .u-post-details-3 {
    margin-top: 36px;
    margin-bottom: 45px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    height: 379px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1161px;
  }

  .u-section-5 .u-post-details-1 {
    min-height: 353px;
    margin-top: 23px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-1 {
    height: 245px;
  }

  .u-section-5 .u-post-details-2 {
    min-height: 346px;
    margin-top: 23px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-2 {
    height: 245px;
  }

  .u-section-5 .u-post-details-3 {
    min-height: 370px;
    margin-top: 23px;
    margin-bottom: 23px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-3 {
    height: 245px;
    margin-right: initial;
    margin-left: initial;
  }
}